<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-title" content="My Crypto">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-title" content="My Crypto">
	<link rel="apple-touch-icon" sizes="180x180" href="/www/icons/touch-icon-iphone-180x180.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/www/icons/touch-icon-ipad-167x167.png">
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
	</script>
	<script src="/peerjs.js"></script>
	<script src="/utils.js"></script>
	<style>
		[v-cloak] { display: none; }
		body, #app, button, input[type=button], input[type=submit] {
			font-family: Avenir, Helvetica, Arial, sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background-color: #091044;
			color: #F6AC5E;
		}
		div, span, button, a, p, h1, h2, h3, h4, h5 {
			box-sizing: border-box;
		}
		a {
			color: #F6AC5E;
		}
		svg {
			fill: #F6AC5E;
		}
		button, a.button {
			outline: 0;
			border: 0;
			padding: 0.2em 0.5em;
			background-color: #F6AC5E;
			color: #091044;
			cursor: pointer;
			text-decoration: none;
		}
		body {
			margin: 0;
			padding: 0;
		}
	</style>
	<style>
		#app {
			height: 100vh;
			width: 100vw;
			padding: 20px;
		}
		.menu {
			margin-bottom: 30px;
			font-size: 1.5em;
		}
		.menu a {
			margin-right: 20px;
			text-decoration: none;
			border-bottom: 2px solid rgba(246, 172, 94, 0);
			transition: border-bottom-color 0.4s;
		}
		.menu a.active, .menu a:hover {
			border-bottom: 2px solid rgba(246, 172, 94, 1);
		}
		.content {
			padding-bottom: 30px;
		}
		@media only screen and (max-width: 600px) {
			.menu {
				width: 100%;
				overflow-x: auto;
				overflow-y: hidden;
				padding-bottom: 20px;
			}
		}
	</style>
	<style>
		.all-invests {
			display: flex;
			flex-direction: column;
			width: 640px;
		}
		.all-invests > div {
			display: flex;
		}
		.all-invests > div > div {
			margin-right: 10px;
			width: calc(100%/5);
			padding: 10px 10px;
		}
		.all-invests > div:nth-child(even) {
			background-color: rgba(255, 255, 255, 0.2);
		}
		.all-invests > div:nth-child(odd) {
			background-color: rgba(255, 255, 255, 0.1);
		}
		.all-invests > div > div:nth-child(1) {
			flex: 1;
			width: auto;
		}
		.all-invests > div > div:nth-child(2),
		.all-invests > div > div:nth-child(3),
		.all-invests > div > div:nth-child(4),
		.all-invests > div > div:nth-child(5) {
			width: 100px;
		}
		.all-invests .small {
			font-size: 0.7em;
		}
		.header {
			font-weight: bold;
		}
		.all-invests_total {
			margin-top: 20px;
			font-weight: bold;
		}
		button, a.button {
			font-size: 1.5em;
			transition: background-color 0.3s;
			margin-left: 2px;
			margin-right: 2px;
		}
		a.button:hover, button:hover {
			background-color:rgba(246, 172, 94, 0.8);
			cursor: pointer;
		}
		@media only screen and (max-width: 600px) {
			.all-invests {
				overflow-y: auto;
			}
			.content {
				overflow-y: auto;
			}
		}
	</style>
	<style>
		.notifications {
			position: fixed;
			z-index: 1000;
			top: 0;
			right: 0;
			padding-top: 20px;
			padding-right: 20px;
		}
		.notification {
			padding: 10px;
			padding-right: 40px;
			width: 400px;
			text-align: left;
			position: relative;
			margin-bottom: 10px;
			margin-top: 0;
		}
		.notification-close {
			right: 0;
			padding: 10px;
			top: 0;
			cursor: pointer;
			position: absolute;
		}
		.notification--success {
			background-color: #3F910C;
			color: #091044;
		}
		.notification--error {
			background-color: #451E10;
			color: white;
		}
		.notification-enter-active, .notification-leave-active {
			transition: all 0.5s;
		}
		.notification-enter-from, .notification-leave-to {
			opacity: 0;
		}
		.notification-enter-from {
			transform: translateY(-30px);
		}
		@media only screen and (max-width: 600px) {
			.notifications {
				left: 0;
				top: 0;
				padding: 20px;
			}
			.notification {
				width: auto;
			}
		}
	</style>
	<style>
		.sync button, .sync a.button {
			font-size: 16px;
		}
		.sync-mean span {
			margin-right: 20px;
		}
		.sync-mean {
			margin-bottom: 10px;
			display: flex;
			align-items: center;
		}
		.sync-mean span {
			width: 120px;
		}
		@media only screen and (max-width: 600px) {
			.sync-mean {
				flex-direction: column;
			}
			.sync-mean span {
				display: block;
				width: 100%;
				margin-right: 0;
			}
			.sync-mean button, .sync-mean a {
				display: block;
				width: 100%;
				text-align: center;
				margin-top: 10px;
			}
		}

	</style>
</head>
<body>
	<div id="app" v-cloak>
		<div class="menu">
			<a href="#" :class="{'active': menuActive === 'main'}" @click="menuActive = 'main'">Résumé</a>
			<a href="#" :class="{'active': menuActive === 'invest'}" @click="menuActive = 'invest'">Investissement</a>
			<a href="#" :class="{'active': menuActive === 'settings'}" @click="menuActive = 'settings'">Paramètres</a>
			<a href="#" :class="{'active': menuActive === 'sync'}" @click="menuActive = 'sync'">Synchronisation</a>
		</div>
		<div class="content" :class="menuActive">
			<template v-if="menuActive === 'main'">
				<div class="all-invests">
					<div class="header">
						<div>Crypto</div>
						<div>Montant</div>
						<div>Montant €</div>
						<div>Gain</div>
						<div>Gain %</div>
					</div>
					<div v-for="invest in allInvestsBySymbol" :key="invest.symbol">
						<div>
							<div>{{ getName(invest) }}</div>
							<div class="small">{{ getQuoteLastUpdateDate(invest) }}</div>
						</div>
						<div>
							<div>{{ invest.value < 0.01 ? Number(invest.value).toFixed(5) : Number(invest.value).toFixed(2) }}</div>
							<div class="small">@ {{ getQuoteValue(invest) }} €</div>
						</div>
						<div>{{ Number(getValueInCurrency(invest)).toFixed(2) }} €</div>
						<div>{{ Number(getProfit(invest)).toFixed(2) }} €</div>
						<div>{{ invest.amount === 0 ? '' : Number(getProfitPercent(invest) * 100).toFixed(2) + '%' }}</div>
					</div>
					<div class="all-invests_total">
						<div>Total</div>
						<div>{{ Number(totalAmountInvests).toFixed(2) }} €</div>
						<div>{{ Number(totalValueInvests).toFixed(2) }} €</div>
						<div>{{ Number(totalProfit).toFixed(2) }} €</div>
						<div>{{ Number(totalProfitPercent * 100).toFixed(2) }} %</div>
					</div>
				</div>
			</template>
			<template v-else-if="menuActive === 'sync'">
				<div class="sync-mean" style="margin-bottom: 30px">
					<template v-if="!this.syncKey">
						<button @click="generateSyncKey">Créer nouvelle clé</button>
						<button @click="importData($event, 'synckey')">Importer clé</button>	
					</template>
					<template v-else>
						<button>Afficher clé</button>
						<button>Synchroniser</button>
						<button @click="syncKey = null">Supprimer clé</button>
					</template>
				</div>
				<div class="sync-mean">
					<span>Copier/Coller</span>
					<button @click="exportData($event, 'clipboard')">Exporter</button>
					<button @click="importData($event, 'clipboard')">Importer</button>
				</div>
				<div class="sync-mean">
					<span>Fichier</span>
					<input type="file" ref="file" accept="application/json" @change="importData($event, 'file')" style="visibility: hidden; position: absolute; top:0; left: 0;" />
					<a class="button" @click="exportData($event, 'file')">Exporter</a>
					<button @click="importData($event, 'file')" @drop.prevent="importData($event, 'file')" @dragover.prevent.stop="$event.dataTransfer.dropEffect = 'copy'">Importer</button>
				</div>
			</template>
		</div>
		<div class="notifications">
			<transition-group name="notification" @leave="notificationLeave">
				<div v-for="notification in notifications" :key="notification.id" :class="'notification notification--' + notification.type">
					{{ notification.text }}
					<span class="notification-close" @click="notificationClose(notification)">✕</span>
				</div>
			</transition-group>
		</div>
	</div>
	<script>
	const axios = window.axios
	let peerClient = null
	let peerOtherClients = {}
	let peerOtherClientsPong = {}
	const connections = []
	let app
	const _id = function() {
		return Date.now().toString(36) + '-' + Math.random().toString(36)
	}
	const $app = Vue.createApp({
		data: () => ({
			menuActive: 'sync',
			invests: [],
			symbols: {},
			quotes: {},
			timeoutRefreshQuotes: -1,
			notifications: [],
			syncKey: null,
			peerSubclientID: 1,
			peerClient: {
				reconnectDelay: 0,
				connecting: false,
			},
		}),
		computed: {
			totalAmountInvests() {
				return this.invests.reduce((v, invest) => v + (invest.amount || 0), 0)
			},
			totalValueInvests() {
				return this.allInvestsBySymbol.reduce((v, invest) => v + this.getValueInCurrency(invest), 0)
			},
			totalProfit() {
				return this.totalValueInvests - this.totalAmountInvests
			},
			totalProfitPercent() {
				return this.totalProfit / this.totalValueInvests
			},
			allInvestsBySymbol() {
				const bySymbols = {}
				const symbols = this.symbols
				for (const invest of this.invests) {
					if (invest.deleted) continue
					if (!bySymbols[invest.symbol]) bySymbols[invest.symbol] = { 
						amount: 0, 
						value: 0, 
						symbol: invest.symbol,
					}
					bySymbols[invest.symbol].amount += invest.amount || 0
					bySymbols[invest.symbol].value += invest.value || 0
				}
				return Object.values(bySymbols)
			},
			syncKeyWords() {
				if (!this.syncKey) return ''
				else return window.$utils.getWordsFromKey(this.syncKey)
			},
		},
		methods: {
			syncInvest(type, value, client) {
				if (!client) {
					for (const c of Object.values(peerOtherClients)) {
						if (!c._open) continue
						c.send({ action: 'sync:invest', type, value })
						console.debug('sending sync:invest', type, value, 'to', c.peer)
					}
				} else {
					client.send({ action: 'sync:invest', type, value })
					console.debug('sending sync:invest', type, value, 'to', client.peer)
				}
			},
			generateSyncKey() {
				this.syncKey = window.$utils.generateRandomKey()
			},
			notificationLeave(el) {
				el.style.marginTop = (-1 * el.offsetHeight - 10) + 'px'
			},
			notificationClose(n) {
				const index = this.notifications.findIndex(notif => notif.id === n.id)
				if (index >= 0) {
					this.notifications.splice(index, 1)
				}
			},
			notificationPush(type, text, timeout = 5000) {
				const n = {
					type,
					text,
					id: _id(),
				}
				this.notifications.push(n)
				if (timeout) {
					setTimeout(() => {
						this.notificationClose(n)
					}, timeout)
				}
			},
			exportData(e, type) {
				if (type === 'clipboard') {
					const data = JSON.stringify({
						invests: this.invests.filter(e => !e.deleted),
					})
					try {
						navigator.clipboard.writeText(data)
						this.notificationPush('success', 'Données exportées !')
					} catch (e) {
						this.notificationPush('error', `Impossible d'exporter les données dans le presse-papier.`)
					}
				} else if (type === 'file' && window.Blob && window.URL) {
					const data = JSON.stringify({
						invests: this.invests.filter(e => !e.deleted),
					})
					const blob = new Blob([data], {
						type: 'application/json;charset=utf-8',
					})
					e.target.setAttribute('href', URL.createObjectURL(blob))
					e.target.setAttribute('download', 'crypto-assets-' + Date.now() + '.json')
				} else if (type === 'synckey') {
					const data = this.syncKey
					try {
						navigator.clipboard.writeText(data)
						this.notificationPush('success', 'La clé de synchronisation a été copiée !')
					} catch (e) {
						this.notificationPush('error', 'Impossible de copier la clé de synchronisation.')
					}
				}
			},
			importDataFromJSON(data) {
				let valid = false
				try {
					const saveData = JSON.parse(data)
					if (saveData.invests && Array.isArray(saveData.invests)) {
						this.invests.splice(0)
						for (const invest of saveData.invests) {
							if (!invest.id) invest.id = window.$utils.id()
							this.invests.push(invest)
						}
						valid = true
						this.saveInvests()
					}
				} catch (err) {
					console.error(err)
				}
				if (valid) {						
					this.notificationPush('success', 'Données importées !')
				} else {
					this.notificationPush('error', 'Données invalide dans le presse-papier.')
				}
			},
			async importData(e, type) {
				if (type === 'clipboard') {
					const data = await navigator.clipboard.readText()
					this.importDataFromJSON(data)
				} else if (type === 'file') {
					if (
						(event.target.files && event.target.files.length) ||
						(event.dataTransfer && event.dataTransfer.files && event.dataTransfer.files)
						) {
						const file = event.target.files ? event.target.files[0] : event.dataTransfer.files[0]
						const reader = new FileReader()
						reader.addEventListener('load', (event) => {
							const data = event.target.result
							this.importDataFromJSON(data)
						})
						reader.readAsText(file)
					} else if (event.target !== this.$refs.file) {
						this.$refs.file.click()
					} else {
						this.$refs.file.value = ''
					}
				} else if (type === 'synckey') {
					const data = await navigator.clipboard.readText()
					if (!/[A-Z]{24}/i.test(data)) {
						this.notificationPush('error', 'Clé de synchronisation non valide')
					} else {
						// TODO: Faire une vérification client à client
						this.syncKey = data
					}
				}
			},
			invest(invest = {}) {
				if (!invest.symbol) throw new Error('You must precise a symbol')
				if (!invest.value) throw new Error('You must precise a value')
				invest.id = window.$utils.id()
				invest.createdAt = new Date()
				this.invests.push(invest)
				this.syncInvest('add', invest)
				this.saveInvests()
			},
			revertInvest() {
				const lastIndex = this.invests.length -1
				const elem = this.invests.pop()
				// We re-add but set to deleted to sync
				this.invests.push({ id: elem.id, deleted: true })
				this.syncInvest('delete', { id: elem.id })
				this.saveInvests()
			},
			clearInvest(symbol) {
				let founded = true
				while (founded) {
					const index = this.invests.findIndex(o => o.symbol === symbol)
					if (index === -1) founded = false
					const id = this.invests[index]
					this.invests.splice(index, 1, { id, deleted: true })
				}
				this.saveInvests()
			},
			getName(invest) {
				return this.symbols[invest.symbol] ? (this.symbols[invest.symbol].name || invest.symbol ) : invest.symbol
			},
			getValueInCurrency(invest) {
				if (!this.quotes[invest.symbol]) return ''
				return this.quotes[invest.symbol].value * invest.value
			},
			getProfit(invest) {
				if (!this.quotes[invest.symbol]) return ''
				return (this.quotes[invest.symbol].value * invest.value) - invest.amount
			},
			getProfitPercent(invest) {
				if (!this.quotes[invest.symbol] || invest.amount === 0) return 0
				return this.getProfit(invest) / invest.amount
			},
			getQuoteLastUpdateDate(invest) {
				const dt = new Date(this.quotes[invest.symbol] ? this.quotes[invest.symbol].updatedAt : null)
				return dt.toLocaleDateString() + ' à ' + dt.toLocaleTimeString()
			},
			getQuoteValue(invest) {
				const value = this.quotes[invest.symbol] ? this.quotes[invest.symbol].value : 0
				return value < 100 ? Number(value).toFixed(5) : Number(value).toFixed(2)
			},
			saveInvests() {
				window.localStorage.setItem('invests', JSON.stringify(this.invests))
			},
			saveQuotes() {
				window.localStorage.setItem('quotes', JSON.stringify(this.quotes))
			},
			async updateQuotes() {
				for (const invest of this.allInvestsBySymbol) {
					try {
						const quoteData = await axios.get(`/data/quotes/${invest.symbol}.json`, { params: { _t: Date.now() }}).then(response => response.data)
						if (!this.quotes[invest.symbol]) {
							this.quotes[invest.symbol] = quoteData
						} else {
							this.quotes[invest.symbol].value = quoteData.value
							this.quotes[invest.symbol].updatedAt = quoteData.updatedAt
						}
					} catch(err) {
						console.error(err)
					}
				}
				this.saveQuotes()
			},
			intervalUpdateQuotes() {
				clearTimeout(this.timeoutRefreshQuotes)
				this.timeoutRefreshQuotes = setTimeout(async() => {
					this.timeoutRefreshQuotes = -1
					await this.updateQuotes()
					this.intervalUpdateQuotes()
				}, 60000)
			},
			peerID(subid) {
				return 'stitchuuuu_crypto-assets-tmp-local_' + this.syncKey + '-' + subid
			},
			peerMessage(o, conn) {
				console.log('message?', o)
				if (typeof o !== 'object') return
				if (!o.action) return
				if (o.action === 'ping') {
					console.log('ping?')
					conn.send({ action: 'pong' })
					return
				} else if (o.action === 'pong') {
					peerOtherClientsPong[conn.peer] = true
				}
				if (o.action === 'sync:invest') {
					console.debug('receiving sync:invest', o)

					if (!o.type && Array.isArray(o.value)) {
						// We compare all values in invest, we add deleted, or we add them
						for (const invest of o.value) {
							const index = this.invests.findIndex(e => e.id === invest.id)
							console.log('index of', invest.id, 'with', this.invests, index, invest)
							if (index < 0) this.invests.push(invest)
							else {
								const mineInvest = this.invests[index]
								if (invest.deleted && !mineInvest.deleted) {
									// We can't revert delete, so if it's deleted we remove it
									this.invests[index] = { id: invest.id, deleted: true }
								} else if (!invest.deleted && !mineInvest.deleted) {
									// Syncing params
									for (const name of Object.values(invest)) {
										mineInvest[name] = invest[name]
									}
								}
							}
						}
					} else if (o.type === 'add') {
						const index = this.invests.findIndex(e => e.id === o.value.id)

						// We already have it
						if (index >= 0) return
						this.invests.push(o.value)
					} else if (o.type === 'delete') {
						const index = this.invests.findIndex(e => e.id === o.value.id)
						if (index >= 0) {
							this.invests[index] = { id: o.value.id, deleted: true }
						}
					}
				}
			},
			peerReconnect() {
				if (!this.syncKey) return
				if (this.peerClient.connecting) return
				let delay = 0
				switch (this.peerClient.reconnectDelay) {
					case 0:
						delay = 2000
						break
					case 2000:
						delay = 5000
						break
					case 5000:
						delay = 10000
						break
				}
				setTimeout(() => {
					this.peer()
					this.peerClient.reconnectDelay = delay
				}, this.peerClient.reconnectDelay)
			},

			peerIsAlive(conn) {
				return new Promise(resolve => {
					if (!conn.open) return resolve(false)
					try {
						let timeout = -1
						const listener = (d) => {
							if (typeof d === 'object' && d.action === 'pong') {
								clearTimeout(timeout)
								conn.off('data', listener)
								resolve(true)
							}
						}
						conn.on('data', listener)
						timeout = setTimeout(() => {
							conn.off(listener)
							resolve(false)
						}, 500)
					} catch (err) {
						console.error(err)
						resolve(false)
					}
				})
			},
			peer() {
				if (this.peerClient.connecting) return
				if (!this.syncKey) return

				this.peerClient.connecting = true
				if (peerClient && !peerClient.disconnected) {
					peerClient.disconnect()
				}
				peerClient = new Peer(this.peerID(this.peerSubclientID))
				peerClient.on('error', (err, two) => {
					if (err.type === 'unavailable-id') {
						this.peerSubclientID = (this.peerSubclientID+1) % 16
						this.peerClient.reconnectDelay = 0
						this.peer()
					} else if (err.type === 'peer-unavailable') {
						const [, peerID] = /Could not connect to peer (.+)/.exec(err.message)
						console.debug('unavailable-peer', peerID)
						peerOtherClients[peerID] && peerOtherClients[peerID].close()
						peerClient._connections.delete(peerID)
						delete peerOtherClients[peerID]
					} else if (err.type === 'network') {
						console.debug('PeerJS: network', err.message)
						// tryReconnect()
					} else {
						console.error(err.type, err.message, err)
					}
				})
				peerClient.on('open', (id) => {
					console.debug('PeerJS: open')
					this.peerClient.connecting = false
					this.peerClient.reconnectDelay = 0
					this.peerSearchSameKind()
				})
				peerClient.on('disconnected', async(err) => {
					console.debug('PeerJS: disconnected')
					this.peerClient.connecting = false
					for (const client of Object.values(peerOtherClients)) {
						console.debug('Testing', client.peer)
						if (!await this.peerIsAlive(client)) {
							console.debug('Testing', client.peer, 'not alive.')
							client.close()
							delete peerOtherClients[client.peer]
						} else {
							console.debug('Testing', client.peer, 'alive.')
						}
					}
					this.peerReconnect()
				})
				peerClient.on('close', (e) => {
					console.debug('PeerJS: close')
					this.peerClient.connecting = false
				})
				peerClient.on('call', (e) => {
					console.debug('PeerJS: call')
				})
				peerClient.on('connection', async(conn) => {
					console.debug('PeerJS: connection', conn.peer)
					if (peerOtherClients[conn.peer] && peerOtherClients[conn.peer].open) {
						console.debug('PeerJS: testing active connection for', conn.peer)
						if (await this.peerIsAlive(peerOtherClients[conn.peer])) {
							console.debug('PeerJS: connection already active for', conn.peer)
							return
						}
					}
					conn.incoming = true
					peerOtherClients[conn.peer] = conn
					this.peerInitConnection(conn)
				})
			},
			peerInitConnection(conn) {
				console.debug('init peer', conn.peer)
				conn.on('data', (d) => {
					this.peerMessage(d, conn)
				})
				conn.on('error', (err) => {
					console.log('closing connection? (error)', err.type, err.message)
					if (!conn.open && peerOtherClients[conn.peer] && peerOtherClients[conn.peer].connectionId === conn.connectionId) {
						delete peerOtherClients[conn.peer]
					}
				})
				conn.on('close', () => {
					if (peerOtherClients[conn.peer] && peerOtherClients[conn.peer].connectionId === conn.connectionId) {
						delete peerOtherClients[conn.peer]
					}
				})
				conn.on('open', () => {
					console.debug('connected with', conn.peer)
					this.syncInvest(undefined, this.invests.slice(), conn)
				})
			},
			peerAttemptConnectTo(id) {
				let connection
				try {
					connection = peerClient.connect(id)
					if (!connection) {
						console.log('no connection?', connection)
					} else {
						connection.peerConnection.addEventListener('signalingstatechange', (e) => {
							// console.log(id, 'state', e.target.signalingState)
						})
					}
				} catch (err) {
					console.error(err)
					this.peerFreeMemory()
					return null
				}
				if (!connection) return null
				connection.incoming = false
				peerOtherClients[id] = connection
				this.peerInitConnection(connection)
				return connection
			},
			peerFreeMemory() {
				return new Promise(resolve => {
					queueMicrotask(() => { 
						let img = document.createElement("img");
						img.src = window.URL.createObjectURL(new Blob([new ArrayBuffer(5e+7)])); // 50Mo or less or more depending as you wish to force/invoke GC cycle run
						img.onerror = function() {
							window.URL.revokeObjectURL(this.src)
							img = null
						}
						resolve()
					})
				})
			},
			async peerSearchSameKind() {
				if (peerClient.disconnected) {
					this.peerCreateClient()
					return
				}
				let i = 0
				for (i = 1; i < 16; i++) {
					if (i === this.peerSubclientID) continue
					const id = this.peerID(i)
					if (peerOtherClients[id] && peerOtherClients[id].open) {
						this.peerIsAlive(peerOtherClients[id]).then((alive) => {
							if (alive) return
							peerOtherClients[id] = this.peerAttemptConnectTo(id)
							if (!peerOtherClients[id]) {
								delete peerOtherClients[id]
							}
						})
						continue
					}
					peerOtherClients[id] = this.peerAttemptConnectTo(id)
					if (!peerOtherClients[id]) {
						delete peerOtherClients[id]
						break
					}
				}
				console.debug('Searched for #' + i, 'clients.')
			},
		},
		watch: {
			syncKey(val) {
				window.localStorage.setItem('syncKey', val)
				if (val) {
					this.peer()
				} else {
					if (peerClient) {
						peerClient.disconnect()
						peerClient = null
					}
				}
			},
		},
		beforeUnmount() {
		},
		mounted() {
			window.addEventListener('beforeunload', () => {
				for (const conn of Object.values(peerOtherClients)) {
					console.log('Closing', conn.peer)
					conn.close()
				}
			})
			app = this
			const promises = []
			const lastQuotes = window.localStorage.getItem('quotes')
			const cryptoList = window.localStorage.getItem('symbols')
			this.syncKey = window.localStorage.getItem('syncKey') || null
			if (lastQuotes) {
				const data = JSON.parse(lastQuotes)
				for (const symbol of Object.keys(data)) {
					this.quotes[symbol] = data[symbol]
				}
				this.$nextTick(() => this.updateQuotes())
			} else {
				axios.get('/data/quotes/__all.json').then(response => response.data).then(data => data.data).then(list => {
					for (const q of list) {
						this.quotes[q.symbol] = q
					}
					window.localStorage.setItem('quotes', JSON.stringify(this.quotes))
				})
			}
			if (cryptoList) {
				const data = JSON.parse(cryptoList)
				for (const symbol of Object.keys(data)) {
					this.symbols[symbol] = data[symbol]
				}
			} else {
				axios.get('/data/crypto-list.json').then(response => response.data).then(data => data.data).then(list => {
					for (const q of list) {
						this.symbols[q.symbol] = q
					}
					window.localStorage.setItem('symbols', JSON.stringify(this.symbols))
				})
			}

			const invests = window.localStorage.getItem('invests')
			if (invests) {
				const data = JSON.parse(invests)
				let upgraded = false
				for (const o of data) {
					if (!o.id) {
						o.id = window.$utils.id()
						upgraded = true
					}
					this.invests.push(o)
					if (upgraded) this.saveInvests()
				}
			}
			this.intervalUpdateQuotes()
		}
	}).mount('#app')
	</script>
</html>
